<p id="notice"><%= notice %></p>

<div class="ui message testing">
  <button class="ui right floated button teal tiny">
    <%= link_to 'Edit', edit_todo_list_path(@todo_list), class: 'color-text-white' %>
  </button>
  <span class="ui <%= @todo_list.badge_color %> label tiny badge-margin"><%= @todo_list.status %></span>
  <% if @todo_list.percent_complete == 100 %>
    <div class="header ui left floated completed-list">
      <h2><%= @todo_list.title %></h2>
    </div>
  <% else %>
    <div class="header ui left floated">
      <h2><%= @todo_list.title %></h2>
    </div>
  <% end %>
  <span class="margin-progress-tracking"><%= @todo_list.percent_complete %> %  Completed (<%= @todo_list.completed_items %>/<%= @todo_list.total_items %> Items)</span>
</div>

<div class="ui small <%= @todo_list.badge_color %> progress">
  <div class="bar" role="progressbar" style="width: <%= @todo_list.percent_complete %>%" aria-valuenow="<%= @todo_list.percent_complete %>" aria-valuemin="0" aria-valuemax="100">
    <div class="progress"></div>
  </div>
</div>

<%= form_for([@todo_list, @todo_item]) do |f| %>
<div class="ui action input fluid margin-input-todo-item">
  <%= f.text_field :description, placeholder: 'Add new ToDo item' %>
  <div class="ui button teal"><%= f.submit 'Add', class: 'removing-rails-btn-style ui button teal small' %></div>
</div>
<% end %>

<div class="ui segment marging-top">
  <% if @todo_list.total_items == 0 %>
    <h3>Start adding items to your list! </h3>
  <% else %>
    <div class="ui relaxed divided list">
      <% @todo_list.todo_items.each do |todo_item| %>
        <% if todo_item.completed? %>
          <div class="item">
            <div class="content">
              <i><span class="align-todo-item completed-item"><%= todo_item.description %></span></i>
              <%= link_to todo_list_todo_item_path(@todo_list, todo_item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button red compact icon right floated' do %>
                <i class="close icon"></i>
              <% end %>
              <%= link_to '#', class: 'ui button teal compact icon right floated', data: { reflex: 'click->TodoItem#mark_incomplete', id: todo_item.id } do %>
                <i class="check circle icon"></i>
              <% end %>
            </div>
          </div>
        <% else %>
          <div class="item">
            <div class="content">
              <span class="align-todo-item"><%= todo_item.description %></span>
              <%= link_to todo_list_todo_item_path(@todo_list, todo_item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button red compact icon right floated' do %>
                <i class="close icon"></i>
              <% end %>
              <%= link_to '#', class: 'ui button grey compact icon right floated', data: { reflex: 'click->TodoItem#mark_complete', id: todo_item.id } do %>
                <i class="circle outline icon"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
  

